<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificação</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/@vladmandic/face-api"></script>
    <script src="camera.js" defer></script> <!-- Use defer para garantir que o script seja carregado após o HTML -->
</head>
<body>
    <div class="face-login">
        <div class="video-container">
            <video id="video" width="320" height="240" autoplay></video>
            ] <canvas id="canvas" style="display: none;"></canvas> <!-- Canvas oculto -->
        </div>
        <button id="captureBtn" class="face-login-btn">Capturar Foto</button>
        <!-- Adicionando o feedback visual -->
        <div id="loading" class="loading" style="display: none;">
            <p>Processando...</p>
            <img src="C:\Users\nutty\Downloads\log\log\animacoes\Eclipse@1x-1.0s-200px-200px.gif" alt="Carregando..." width="400" height="500">
        </div>
    </div>
</body>
</html>
